/* Add this CSS to style the profile section */
.profile {
    background-color: black;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.profile .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image img {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Additional styles for the hero section */
.hero {
    background-color:black;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}

/* Add styles for the navigation */
header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #3498db;
}
